<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around-center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
        <mat-card >
            <mat-card-header>
                <mat-card-title id="bold">{{dish.name | uppercase}}</mat-card-title>
            </mat-card-header>
            <img src="{{ baseURL + dish.image}}" alt={{dish.name}} height="500px">
            <mat-card-header>
                <p>{{dish.description}}</p>
            </mat-card-header>
            <mat-card-actions>
                <!-- Previous Button -->
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <!-- NEXT BUTTON -->
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
       <mat-list>
           <h1 id="bold">Comments</h1>
           <mat-list-item *ngFor="let comments of dish.comments">
               <p matLine>{{comments.comment}}</p>
               <p matLine>{{comments.rating}} Star</p>
               <p matLine>-- {{comments.author}} {{comments.date | date}}</p>
           </mat-list-item>
       </mat-list>


<!-- TEMPLATE TO SHOW LIVE DETAILS ENTERED IN THE COMMENT FORM -->
            <mat-list *ngIf="commentForm.valid">
                <mat-list-item>
                    <p matLine>{{ commentForm.value.comments }}</p>
                    <p matLine>{{ commentForm.value.rating }} Star</p>
                    <p matLine> --{{ commentForm.value.name }} {{ date | date }}</p>
                </mat-list-item>
            </mat-list>

       <!-- *************************************************FORM TO ADD COMMENT****************************************************** -->
       <form novalidate [formGroup]="commentForm"  #commentform = "ngForm" class="form-width" (ngSubmit)="onSubmit()">
           <p>
                <mat-form-field>
                    <input matInput type="text" placeholder="Name" formControlName="name" required>
                </mat-form-field>
                <mat-error *ngIf="formErrors.name">
                    {{formErrors.name}}
                </mat-error>
           </p>
           <p>
                <mat-slider thumbLabel tickInterval="1" min="1"  max="5" formControlName="rating" ></mat-slider>
           </p>
           <p>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Your Comment" formControlName="comment" required></textarea>
                </mat-form-field>
                <mat-error *ngIf="formErrors.comments">
                    {{formErrors.comments}}
                </mat-error>
           </p>
            <button type="submit" mat-button class="background-primary text-floral-white"
                [disabled]="!commentForm.valid">Submit</button>
       </form>
    </div>
</div>

<div [hidden]="dish || errMess">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
</div>

   